@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
  --primary-green: #00AF7D;
  --secondary-green: #9ACF2C;
  --primary-yellow: #F1AE2D;
  --background-beige: #FBF6EF;
  --background-green: #D7F0E5;
}