.logo {
  margin-top: 8px;
  margin-bottom: 16px;
}

.header-container {
  background-color: var(--primary-green);
  color: #fff;
  padding: 32px;
}

.header-title {
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

.header-title--smaller {
  font-size: 40px;
}

.header-text {
  margin: 0;
}